<!doctype html>

<html>
<head>
    <title>{% block title %}{{ _('Welcome') }}{% endblock %} | LotG</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="page">

    <h1>LotG</h1>

    <div class="navigation">
        {% if g.user is not none %}
            <a href="{{ url_for('sign_out') }}">{{ _('Sign out') }}</a>
            <a href="{{ url_for('update_account') }}">{{ _('Update account data') }}</a>
        {% else %}
            <a href="{{ url_for('sign_in') }}">{{ _('Sign in') }}</a>
            <a href="{{ url_for('sign_up') }}">{{ _('Sign up') }}</a>
            <a href="{{ url_for('account_problem') }}">{{ _('Account problem') }}</a>
        {% endif %}
    </div>

    {% with flashes = get_flashed_messages() %}
        {% if flashes %}
            <ul class="flashes">
                {% for message in flashes %}
                    <li>{{ message }}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="body">
        {% block body %}{% endblock %}
    </div>

    <div class="footer">
        (C) Lord of the Games
    </div>
</div>
</body>
</html>